{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}{% endblock %}

{% block 'body' %}
    <br>
    <br>
    <div class="container">
        <div class="row">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        
            <div class="col-md-5">
                <p class="fonte-destaque">Suas contas</p>
                <hr>
                <div class="contas">

                    {% for conta in contas %}
                        <div class="lista-contas-main">
                            <span><img width="10%" src="{{conta.icone.url}}"> {{conta.apelido}}</span>
                           
                            <span class="total-conta positivo ">{{conta.valor}}&nbsp&nbsp&nbsp <a href="/perfil/deletar_banco/{{ conta.id }}"><img src="{% static 'perfil/img/exit.png' %}"></a>

                        </div>
                        <br>
                    {% endfor %}
                    
                </div>

                <hr>
                <span class="fonte-destaque">Total:</span>
                <span class="positivo total-conta font-destaque">R$ {{total_contas}}</span>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5">
                <p class="fonte-destaque">Nova conta</p>
                
                <form action="{% url 'cadastrar_banco' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
                    <label>Apelido</label>
                    <input type="text" name="apelido" class="form-control" placeholder="">
                    <br>

                    <label>Banco</label>
                    <select name="banco" class="form-select">
                        <option value="{{banco_choices}}">{{banco_choices}}</option>
                    </select>
                    <br>

                    <label>Tipo</label>
                    <select name="tipo" class="form-select">
                        <option value="pf">Pessoa física</option>
                        <option value="pj">Pessoa jurídica</option>
                    </select>
                    <br>
                    <label>Valor</label>
                    <input type="number" name="valor" class="form-control" placeholder="">
                    <br>
                    <input type="file" placeholder="Ícone" name="icone" required>
                    <br>
                    <br>
                    <input style="width: 100%" type="submit" class="botao-principal" value="Enviar">
                </form>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-md-5">
                <span class="fonte-destaque">Nova categoria</span>

                <form action="{% url 'cadastrar_categoria' %}" method="POST">{% csrf_token %}
                    <label>Categoria</label>
                    <input type="text" name="categoria" class="form-control">
                    <br>

                    <input type="checkbox" name="essencial" value="essencial"><label class="positivo">&nbspEssencial</label>
                    <br>
                    <br>
                    <input style="width: 100%" type="submit" class="botao-principal" value="Adicionar">
                </form>
            </div>

            <div class="col-md-2">
            </div>
            <div class="col-md-5">
                <span class="fonte-destaque">Suas categoria</span>
                <br>
                <div class="contas">        
                {% for categoria in categorias %}            
                    <div class="lista-contas-main">
                        <span>{{ categoria.categoria }}</span>
                        <span class="total-conta"><a href="{% url 'update_categoria' categoria.id %}"><img src="{% if categoria.essencial %}{% static 'perfil/img/check.png' %}{% else %}{% static 'perfil/img/exit.png' %}{% endif %}"></a>
                    </div>
                    <br>
                {% endfor %}
                
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}